*{
  margin: 0;
  padding: 0;
}

@font-face { font-family: Angora; src: url('Angora.otf'); } 
h1 {
   font-family: Angora
}

.navbar ul {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
}

.navbar li
{
list-style: none;
margin-top: 12.5px;
}


.navbar li a
{
  text-decoration: none;
  color: white;
  font-family: Kanit;
  font-size: 1.2rem;

}

.navbar li a:hover {
  font-size: px;
  color: #fff;
  text-align: center;
  animation: glow 0.65s ease-in-out  infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, ;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6;
  }
}
.navbar
{ z-index: 2;
  width: 100%;
  height: 50px;
  background-color: black;
  position:fixed;
 

}


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */



.stars{
 
  top: 0;
  left: 0;
  width:100vw;
  height:100vh; 
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: fixed;

  animation: animateBg 10s linear infinite;
  position: fixed;
  z-index: -1;
  margin-bottom: 100px;
 

}
.bigstar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  width:100vw;
  height:80vh;
 
}


@keyframes animateBg {

  0%,
  100% {
      transform: scale(1.2);
  }

  50% {
      transform: scale(1,1);
  }
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
              0 0 0 8px rgba(255, 255, 255, 0.1),
              0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
}

span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
  }

  70% {
      opacity: 1;
  }

  100% {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
  }
}

span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}

span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

span:nth-child(3) {
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}

span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}

span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

span:nth-child(10) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.head { 

 padding-top: 200px;
 font-size: 7.5rem;
 color: rgb(255, 255, 255);
 text-shadow: 5px 5px rgb(195, 183, 183);
 background-color: transparent;
  z-index: 0;
   /* z-index: -3; */
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  font-family: "Tiro Devanagari Hindi", serif, ;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 8s  ;
  cursor:4s step-end infinite alternate;    
}

.engl
{  
  color: #ffffff;
  animation: fadein 12s ;
  font-size: 2rem;
  font-family: Angora;
  margin-bottom: 17px;
  height: 80px;
  padding: 2px;


}
.script
{   margin-top: 3px;
  height: 300px;
  width: 300px;
  color: #ffffff;
  text-align: center;
  display: contents;
  font-family: "Tiro Devanagari Hindi", tahoma;   
}

@keyframes fadein2

{
  0%
  {
   opacity: 0;
  }
  80%
  {
   opacity: 1;
 
  }
  
}
.verse
{
  font-size: 1.2rem;
  animation: fadein2 10s;
}


@keyframes fadein
{
 0%
 { font-size: 1rem;
  opacity: 0;
 }
 100%
 {
  opacity: 1;
  font-size: 2rem;
 }
 
}

@keyframes cursor{
  50%{ border-color: transparent}
}
@keyframes typing {
  from{ width: 0
  }
}

.hero 
{   height: 100vh; 
  width: 100%;
  text-align: center;

 
} 



.timeline {
  
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline-header__titlenew
{
  font-weight: normal;
  font-size: 37px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: Angora;
  color: #fff;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 37px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .7);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, .07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {

  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  /* position: relative; */
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-size: 13px;
  font-family: 'Pathway Gothic One', sans-serif;
  border-left: 2px solid rgba(255, 255, 255, .5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, .5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 background: rgba(0,0,0,0.6);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 58px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, .5);
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}














.solar
{   position: absolute;
  overflow: hidden;
  width: 100%;
  height: 160vh;
 
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
background: url('solar system img/solarbg2.jpg');


}

.solarsystemheading
{ font-family: Angora;
 margin-top: 150px;
 width: 50%;
 height: 100vh;
 display: flex;
 /* align-items: center;
 justify-content: center; */
 color: transparent;
 font-weight: 500;
 font-size: 5rem;
 color: rgb(255, 255, 255);
 text-shadow: 2px 2px rgb(175, 171, 171);
 /* -webkit-text-stroke: 2px #fff ; */

}

.wrapper {

margin-bottom: 80px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.neptune-container {
  
  position: absolute;
  height: 850px;
  width: 850px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;   
}

.neptune-container > img {
height: 50px;
width: 50px;
animation: neptune-rotation 53954ms linear infinite;
}

.uranus-container {
  position: absolute;
  height: 750px;
  width: 750px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;   
}

.uranus-container > img {
  height: 75px;
  width: 75px;
  animation: uranus-rotation 37054ms linear infinite;
}

.saturn-container {
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;   
}

.saturn-container > img {
  height: 75px;
  width: 75px;
  animation: saturn-rotation 33218ms linear infinite;
}

.jupiter-container {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;   
}

.jupiter-container > img {
  height: 75px;
  width: 75px;
  animation: jupiter-rotation 27339ms linear infinite;
}

.mars-container {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;   
}

.mars-container > img {
  height: 35px;
  width: 35px;
  animation: mars-rotation 12684ms linear infinite;
}

.earth-container {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;   
}

.earth-container > img {
  height: 30px;
  width: 30px;
  animation: earth-rotation 11079ms linear infinite;
}

.venus-container {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;   
}

.venus-container > img {
  height: 20px;
  width: 20px;
  animation: venus-rotation 7259ms linear infinite;
}

.mercury-container {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;   
}

.mercury-container > img {
  height: 15px;
  width: 15px;
  animation: mercury-rotation 5768ms linear infinite;
}

.sun-container {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun-container > img {
  height: 310px;
  width: 310px;
  border-radius: 100%;
  background-color: transparent;
  pointer-events: none;
}


@keyframes neptune-rotation {
   
0% {
  transform: rotate(0deg) translate(425px) rotate(0deg);
}

100% {
  transform: rotate(360deg) translate(425px) rotate(360deg);
}
}

@keyframes uranus-rotation {

0% {
  transform: rotate(0deg) translate(375px) rotate(0deg);
}
  
100% {
   transform: rotate(360deg) translate(375px) rotate(360deg);
}
}
  
@keyframes saturn-rotation {

0% {
   transform: rotate(0deg) translate(300px) rotate(0deg);
}
     
100% {
   transform: rotate(360deg) translate(300px) rotate(360deg);
 }
}
     
@keyframes jupiter-rotation {

0% {
transform: rotate(0deg) translate(250px) rotate(0deg);
}
        
100% {
transform: rotate(360deg) translate(250px) rotate(360deg);
 }
}
        
@keyframes mars-rotation {

0% {
transform: rotate(0deg) translate(200px) rotate(0deg);
 }
          
100% {
transform: rotate(360deg) translate(200px) rotate(360deg);
 }
}
           
@keyframes earth-rotation {

0% {
transform: rotate(0deg) translate(175px) rotate(0deg);
   }
             
100% {
transform: rotate(360deg) translate(175px) rotate(360deg);
   }
}
              
@keyframes venus-rotation {

  0% {
  transform: rotate(0deg) translate(150px) rotate(0deg);
      }
                
  100% {
  transform: rotate(360deg) translate(150px) rotate(360deg);
      }
   }
                 
              
@keyframes mercury-rotation {

  0% {
  transform: rotate(0deg) translate(125px) rotate(0deg);
      }
                
  100% {
  transform: rotate(360deg) translate(125px) rotate(360deg);
      }
   }
                     
.video
{ 
  padding-top: 800px;
  padding-bottom: 100px;
   background: url('solar system img/solarbg2.jpg');
  text-align: center;
   width: 100%;
  overflow: hidden;
} 


.video h3

{  position: relative;
  font-size: 3rem;
  margin-top: 310px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}




 .starpage
   {
    position: relative;
    width: 100%;
    height: 200vh;
    overflow: hidden;
    background: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */

   }
  

   .starheading
   { padding-bottom: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: transparent;
 font-weight: 500;
 font-size: 6rem;
 color: rgb(255, 255, 255);
 text-shadow: 2px 2px rgb(175, 171, 171);
 font-family: Angora;

   }

  .starpage .starry
   {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animatestar 8s ease-in-out infinite,
               bgmove 16s linear infinite;


   }

   .starpage .starry.star1
   { animation-delay: 0s;
    background: url('star1.png');
   }
   
   .starpage .starry.star2
   { animation-delay: -1s;
    background: url('star2.png');
   }

   .starpage .starry.star3
   { animation-delay: -s;
    background: url('star3.png');
   }

   .starpage .starry.star4
   { animation-delay: -3s;
    background: url('star4.png');
   }

   .starpage .starry.star5
   { animation-delay: -4s;
    background: url('star5.png');
   }


   .starpage .starry.star6
   { animation-delay: -5s;
    background: url('star6.png');
   }


   .starpage .starry.star7
   { animation-delay: -6s;
    background: url('star7.png');
   }


   .starpage .starry.star8
   { animation-delay: -7s;
    background: url('star8.png');
   }





   @keyframes animatestar
   {
    0%,20%,40%,60%,80%,100%
    {
        opacity: 0;
    }

    10%, 30%, 50%, 70%, 90%
    {
      opacity: 1;
    }
   }

   @keyframes bgmove
   {
    0%
    {
      transform: scale(1);
    }
    100%
    {
      transform: scale(2);
    }
   }



 

  #accordion
  {
    margin: 50px auto;
    width: 700px;
  }

  #accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
     background: transparent;
   backdrop-filter: blur(2px); 
    /* background: #fff; */
    padding: 10px;
    border-radius: 4px;
  }

  #accordion li label{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
     text-shadow:1px 1.1px #999;
    font-weight: 500;
    cursor: pointer;
    color: rgb(255,255,255);
  }

  #accordion li label span
  {
    z-index:1;
    transform: rotate(90deg);
    font-size: 34px;
    color: #000000 ;

  }

  #accordion label + input[type="radio"]
  {
    display: none;
  }

  #accordion .contentofstar
  {
    font-size: 20px;
    box-shadow: 2px 2px white;
    transition: border 0.3s;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s;
    color: white;
  }


  #accordion label + input[type="radio"]:checked + .contentofstar {
    max-height: 400px;

  }





















  .spaceexp{
     
    /* margin-top:0;
    /* position:; */
     display:flex; 
    background: cover;
    background:url(spacexp.jpg);
    opacity: 45px;
    background-color: aliceblue;
    height: 130vh;
  }
  .heading2{

    font-family: Angora;
    /* padding:35px; */
   text-align: center;
    margin-top:15vh;
    /* margin-bottom: 14vh;
    margin-left: 250px; */
    font-size: 48px;
    color: white;
  }     

  /* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
.spaceexploration {
z-index: 3;
top: 35vh;
bottom: 24vh;
left: 35vw;
height: 148vh;
display: absolute;
align-items: center;
justify-content: center;
background:url(spacexp.jpg);
}
::-webkit-scrollbar {
height: 8px;
}
::-webkit-scrollbar-track {
background: #000000;
border-radius: 25px;
}
::-webkit-scrollbar-thumb {
background: #fcfdff;
border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
background: #eaeef2;
}
.container2 {
z-index: 3;
margin: 70 70 70 70;
display: flex;
gap: 12px;
max-width: 1500px;
height: 500px;
width: 100%;
background: transparent;
border-radius: 12px;
padding: 68px;
scroll-snap-type: x mandatory;
overflow-x: scroll;
scroll-padding: 30px;
box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.container2 .card {


display: flex;
flex: 0 0 100%;
flex-direction: column;
align-items: center;
padding: 30px;
border-radius: 12px;
background: transparent;
scroll-snap-align: start;
box-shadow: 26px 15px 25px 15px rgb(0, 0, 0);
box-shadow: 30px white;
}
.card .image {
height: 150px;
width: 150px;
padding: 4px;
background: #000000;
border-radius: 50%;
}
.image img {
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 5px solid #fff;
}
.card h2 {
text-shadow: 3px 3px rgb(0, 0, 0);
margin-top: 25px;
color: #ffffff;
font-size: 25px;
font-weight: 600;
}
.card p {
text-shadow: 2px 2px rgb(26, 5, 5);
margin-top: 4px;
font-size: 21px;
font-weight: 400;
color: #ffffff;
text-align: center;
}



.heading3{
/* z-index: 3; */
margin-top:  16vh;
margin-left:20vh;

padding: 7vh;
text-shadow: 3px 3px rgb(145, 145, 145);
font-size:45px;
color: white;
font-family: Angora;
position: relative;

}


#s1
{
  font-family: serif;
}
.spacetrav{


top: 25vh;
height: 170vh;

background-image: url(spacetravellerbg.jpg);
background-size: cover;
overflow: hidden;
}

.astro-1, .astro-2{
z-index:2;
position:relative;
size: 53px;
}

.astro-1{
left: 52%;
 top: 60%;
animation-name:astro1 ;
animation-duration: 30s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.astro-2{
left: 42%;
 top: 30%;
animation-name: astro2;
animation-duration: 10s;
animation-iteration-count: infinite;

}


@keyframes astro1{
0%{
  left:0 ;
  top: 0;
}

20%{
  left: 20%;
  top: 10%;
}

40%{
 left: 40%;
 top: 0;
}

60%{
 left:60%;
 top: 20%;
}

80%{
  left: 80%;
  top: 0;
}

100%{
  left: 100%;
  top: 30%;
}
}



@keyframes astro2{
0%{
 top: 60%;
}

50%{
 top:45% ;
}

100%{
 top: 60%;
}
}

/* space travellers cards */
.cardanim{
/* z-index: 2; */
display: flex;
justify-content: center;
height: 130vh;
align-items: center;
/* background: whitesmoke; */
/* width: fit-content; */
}
.stcontainer{
display: flex;
}

.rs{
height: 500px;
width: 350px;
border-radius: 3px;
}
.kc{
height: 500px;
width: 350px;
border-radius: 3px;}
.sw{
  height: 500px;
  width: 350px;
  border-radius: 3px;}
.stcard{
height: 800px;
margin: 50px;
box-shadow: 5px 5px 7px black;
overflow: hidden;
}
.intro{
height: 70px;
width: 350px;
padding: 6px;
box-sizing: border-box;
position: relative;
bottom: 70px;

background: rgb(27,27,27,.5);
color: white;
transition: 0.5s;

}
#s1{
margin: 10px;
font-size: 40px;
}
.p1{
font-size: 20px;
margin: 20px;

/* visibility: hidden;
opacity: 0; 
*/
}
.stcard:hover{
cursor:pointer;

}
.stcard:hover.intro{
height: 70px;
bottom: 240px;
background: black;
}
.stcard:hover.p1{

visibility: visible;
opacity: 1;
}
.stcard:hover img{
transform: scale(1.1) rotate(-3deg);
}





.footer {
 padding-top: 10px;
 padding-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
 font-family:Kanit;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons 
{
  padding-left: 10px;
  display: flex;
  font-family:Kanit;
}

.fa {
  padding: 20px;
  font-size: 30px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* .fa-google {
  background: #dd4b39;
  color: white;
} */

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

