*{
    margin: 0;
    padding: 0;
}

.navbar ul {
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}

.navbar li
{
list-style: none;
margin-top: 12.5px;
}


.navbar li a
{
    text-decoration: none;
    color: white;
    font-family: Kanit;
    font-size: 1.2rem;

}

.navbar li a:hover {
    font-size: px;
    color: #fff;
    text-align: center;
    animation: glow 0.65s ease-in-out  infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, ;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6;
    }
}
.navbar
{
    width: 100%;
    height: 50px;
    background-color: black;
    position:fixed;
   
 
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



.stars{
   
    top: 0;
    left: 0;
    width:100vw;
    height:80vh; 
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: fixed;
    animation: animateBg 10s linear infinite;
    position: fixed;
    z-index: -1;
    margin-bottom: 100px;
   
 
}
.bigstar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    width:100vw;
    height:80vh;
}

@keyframes animateBg {

    0%,
    100% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1,1);
    }
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
                0 0 0 8px rgba(255, 255, 255, 0.1),
                0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
}

span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}

span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

span:nth-child(3) {
    top: 80;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

span:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

span:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

span:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

span:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

span:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

span:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

span:nth-child(10) {
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}


    h1{
        text-align: center;
 
    /* position: absolute; */
    font-size: 7.5rem;
    color: rgb(247, 247, 255);
    text-shadow: 5px 5px rgb(195, 183, 183);
    background-color: transparent;
     
    }
    


    




.head { 
   
   padding-top: 200px;
    z-index: 0;
     /* z-index: -3; */
    color: white;
    letter-spacing: 4px;
    font-family:'Times New Roman', Times, serif ;
    /* border-right: solid; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 10s  ;
    cursor:4s step-end infinite alternate;    
}


 
@keyframes cursor{
    50%{ border-color: transparent}
}
@keyframes typing {
    from{ width: 0}
}
 
 .hero 
{   height: 100vh; 
    text-align: center;
    border: 2px solid red;
  
   

} 

.text
{   
    color: #1c1717;
    height: 1000px;
    width: 100%;
    background-color: aqua;
}
